.navbar{}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007e1f;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}


.navbar-title{
    font-size: 21px;
}


.navbar-home{
    margin: 0;
    padding: 0;
    float: left;
    background-color: #007e1f;
}